body {
	background:#918f88 url('images/bg.jpg') center top no-repeat;
	padding-top:20px;
}
nav.main-nav {
}

.btn {
	&.btn-sm {
		&.refresh-button, &.maximize-button, &.add-button, &.close-button {
			padding-top:1px;
			padding-bottom:1px;
		}
	}
}

.loader {
	background:transparent url('images/puff.svg') center 25px no-repeat;
	height:100px;
}

.main-roast {
	.roast-data-list {
		padding: 12px 0px 3px;
	}
	.existing-photo, .live-photo
	{
		.thumbnail {
	    	margin-bottom:10px;
	    }
	    background-color: #efefef;
	    padding: 15px;
	}
	.live-photo {
		display:none;
	    margin-top:15px;
	    .btn-upload {
	    	margin-top:10px;
	    }
	}

}

.main-bean
{
	.bean-data-list {
		padding: 12px 0px 3px;
	}
}

#main-roast-chart {

}

#main-roast-chart-container {
	display:none;
	height:90%;
	min-height:400px;
}

.panel {
	&[data-maximize="true"] {
		position:fixed;
		top:2vh;
		left:2vw;
		width:95.4vw;
		z-index:10;
		&.roast-graph {
			height:96vh;
		}
	}
}

td {
	span
	{
		&.glyphicon-ok {
			color:green;
		}
		&.glyphicon-remove {
			color:gray;
		}
	}
}
.remove-column {
	.glyphicon-remove {
		cursor:pointer;
	}
}

.main-secondary-roast .panel {
	display:none;
}
.roast-list-table {
	td.view-column {
		span {
			display:none;
		}
		&.picked {
			span { display:inline; }
			a {display:none;}
		}
	}
}

.overlay {
	position:fixed;
	background-color:rgba(0,0,0,0.3);
	width:100%;
	height:100%;
	left:0;
	top:0;
	z-index:9;
}