body {
	background:#918f88 url('images/bg.jpg') center top no-repeat;
	padding-top:20px;
}
hr {margin-top:10px;margin-bottom:10px;}
textarea {resize:vertical;}
nav.main-nav {
}
.tooltip-inner {
    white-space:pre-wrap;
}
.btn {
	&.btn-sm {
		&.refresh-button, &.maximize-button, &.add-button, &.close-button {
			padding-top:1px;
			padding-bottom:1px;
		}
	}
}

.loader {
	background:transparent url('images/puff.svg') center 25px no-repeat;
	height:100px;
}

.main-roast {
	.roast-data-list {
		padding: 12px 0px 3px;
	}
	.existing-photo, .live-photo
	{
		.thumbnail {
	    	margin-bottom:10px;
	    }
	    background-color: #efefef;
	    padding: 15px;
	}
	.live-photo {
		display:none;
	    margin-top:15px;
	    .btn-upload {
	    	margin-top:10px;
	    }
	}

}

.main-bean
{
	.bean-data-list {
		padding: 12px 0px 3px;
	}
}

.main-profile
{
	.profile-data-list {
		padding: 12px 0px 3px;
	}
	input[data-for="profileText"] {
		font-size:9px;
	}
}

.main-location
{
	.location-data-list {
		padding: 12px 0px 3px;
	}
}

.main-supplier
{
	.supplier-data-list {
		padding: 12px 0px 3px;
	}
}

.main-bean-owner
{
	.bean-owner-data-list {
		padding: 12px 0px 3px;
	}
}

#main-roast-chart {

}

#main-roast-chart-container {
	display:none;
	height:90%;
	min-height:400px;
}

.panel {
	&[data-maximize="true"] {
		position:fixed;
		top:2vh;
		left:2vw;
		width:95.4vw;
		z-index:10;
		&.roast-graph {
			height:96vh;
		}
	}
}

td {
	span
	{
		&.glyphicon-ok {
			color:green;
		}
		&.glyphicon-remove {
			color:gray;
		}
		&.glyphicon-info-sign {
			color:gray;
			cursor:pointer;
		}
	}
}
.remove-column {
	.glyphicon-remove {
		cursor:pointer;
	}
}

.main-secondary-roast .panel {
	display:none;
}
.roast-list-table {
	td.view-column {
		span {
			display:none;
		}
		&.picked {
			span { display:inline; }
			a {display:none;}
		}
	}
}
tr.inactive td {
	color:#c1c1c1;
}

.overlay {
	position:fixed;
	background-color:rgba(0,0,0,0.3);
	width:100%;
	height:100%;
	left:0;
	top:0;
	z-index:9;
}
.main-stock-list {
	.resultcontainer {
		.flexWrapper {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: flex-start;
			align-content: stretch;
			align-items: flex-end;
			padding:20px;
		}
	}
}

.stock {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    position:relative;
    margin-left:2%;
    margin-right:2%;
	.original, .remaining {
		position:absolute;
		bottom:0;
		left:0;
		width:100%;
		text-align:center;
		color:#FFF;
		color: #FFF;
		padding-top: 12px;
		font-size: 16px;
	}
	.original {
	 	background-color:#c1c1c1;
 	}
 	.remaining {
 		background-color:#509481;
 		span {
 			position:absolute;
 			bottom:0;
 			left:0;
 			display:block;
 			text-align:center;
 			font-size:12px;
 			padding-bottom:10px;
 			width:100%;
 		}
 	}
}
.balance-row {
	padding: 10px 20px 10px 20px;
	border-bottom:1px solid #ddd;
	&:last-child {
		border-bottom:0px solid;
		padding-bottom:30px;
	}
}
.stepTemplateContainer {
	display:none;
}
.stepsContainer {
	position:relative;
	padding-bottom:30px;
	.step {
		padding:10px 0px 10px 0px;
		border-bottom:1px solid #ddd;
		&:first-child {
			border-top:1px solid #ddd;
		}
	}
	.name, .value, .range {
		padding:5px 0px 5px 0px;
	}
	.name {
		font-size:12px;
	}
	.value {
		font-size:12px;
	}
	.range {
		width:100%;
		padding-left:10px;
		padding-right:10px;
	}
	.add-step {
		position:absolute;
		bottom:0;
		left:0;
	}
	a.remove {
		font-size:12px;
	}
}